[mysqld]
require_secure_transport=ON
innodb_numa_interleave=OFF
basedir=/opt/morrowsql
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysql.sock
pid-file=/var/run/mysqld/mysql.pid
secure-file-priv=/var/lib/mysql-files
bind-address=0.0.0.0

[client]
socket=/var/run/mysqld/mysql.sock

!includedir /etc/my.cnf.d
